.swap{
    width: 26px;
    height: 26px;
    background-image: url(https://res.cloudinary.com/dnddbsls8/image/upload/v1626271927/english-for-kids/images/swap_xkatbf.svg);
    background-size: cover;
    position: absolute;
    bottom: 13px;
    right: 14px;
}
.swap:hover{
    cursor: pointer;
    opacity: 0.5;
}
.swapped{
    display: none;
}