.stars{
    width: 100%;
    height: 50px;
    max-width: 1340px;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

@media (max-width: 1370px){
    .stars{
        max-width: 1000px;
    }
 
}
@media (max-width: 1000px){
    .stars{
        max-width: 640px;
    }
 
}
@media (max-width: 690px){
    .stars{
        max-width: 300px;
    }
 
}