.nav_menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 375px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
    transform: translateX(-100%);
    transition: all 0,7s ;
    z-index: 50;
}
.nav_active{
    transform: translateX(0%);
    transition: all 0,7s ;
}
