{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb-typescript/base",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-new": 0,
        "no-console": "warn",
        "@typescript-eslint/no-var-requires": 0,
        "consistent-return": 0,
        "no-underscore-dangle": 0,
        "max-len": [
            "warn",
            {
                "code": 150
            }
        ],
        "indent": [
            "warn",
            2,
            {
                "SwitchCase": 1
            }
        ],
        "import/prefer-default-export": "off",
        "no-param-reassign": [
            "error",
            {
                "props": false
            }
        ]
    }
}