.card_front_bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.card_name_bottom{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.none{
    display: none;
}