.popup_wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    z-index: 120;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.popup_none{
    display: none;
}